[user]
    name = Nomen est Omen
    email = nomenomen@gmail.com

[core]
    eol = lf
    autocrlf = false


#### WINDOWS DIFF
#[core]
#    eol = lf
#    autocrlf = input
#[difftool]
#    prompt = false
#[diff]
#    tool = bc3
#[merge]
#    tool = bc3
#[difftool "bc3"]
#    path = c:/opt/BeyondCompare3/BComp.exe
#[mergetool "bc3"]
#    path = c:/opt/BeyondCompare3/BComp.exe


[branch]
    autosetuprebase = always
[alias]
    ba = branch -vra
    br = branch
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    le = log --oneline --decorate
    st = status -s
    fa = fetch --all
    ff = merge --ff-only upstream/master
    ffdev = merge --ff-only upstream/dev
    ch = checkout
    cm = checkout master
    dl = "!git ll -1"
    dlc = diff --cached HEAD^
    f = "!git ls-files | grep -i"
    grep = grep -Ii
    la = "!git config -l | grep alias | cut -c 7-"
    lasttag = describe --tags --abbrev=0
    rem = remote -v
    d = difftool
    ds = diff --stat

[difftool]
    prompt = true

[diff]
    tool = vimdiff
